<!-- Iterate over frames  -->
<div 
  class="frame-container" 
  *ngFor="let frame of frameService.frames; index as i">
  <!-- Frame element: only shows when active -->
  <div 
    class="frame"
    (click)="navigationMenuService.onBackgroundClick();"
    *ngIf="i === frameService.activeFrameIndex"
    [style.color] = "frame.style.color"
    [style.background-color] = "frame.style.bgColor">
    <!-- Title section  -->
    <h1 *ngIf="frame.title">
      {{frame.title}}
    </h1>
    <!-- Content section  -->
    <div *ngIf="frame.content">
      <p *ngFor="let content of frame.content">
        {{content}}
      </p>
    </div>
    <!-- Code section  -->
    <pre *ngIf="frame.code" class="language-{{frame.code.language}}">
      <code class="language-{{frame.code.language}}">
        {{frame.code.source}}
      </code>
    </pre> 
  </div>
</div>
<!-- Navigation menu  -->
<div class="menu">
  <frame-menu></frame-menu>
</div>
