.option-menu {
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 180px;
}

.option-menu-button {
    color: #777777; 
    height: 40px;
    display: flex;
    flex-direction: row;
}

.option-menu-icon {
    margin-right: 10px;
}