@import url('https://fonts.googleapis.com/css?family=Roboto');

:host {
	font-family: Roboto; 
} 

#slideshow-shell {
	position: relative;
	min-height: 100%;
	min-width: 100%;
}

.slide {
	display: flex; 
	flex-direction: column;  
	min-width: 90%;
	min-height: 100vh;  
	justify-content: center;
	padding-left: 5%;
	padding-right: 5%;
}

.menu {
	width: 180px;
	margin: auto;
}

.slideshow-menu {
	position: absolute;
	bottom: 20px;
}

h1 {
	display: block;
	overflow: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 6em; 
	font-weight: normal;  
}

p { 
	font-size: 2em;
} 

 pre {
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 36px; 
} 