<!-- <div id='optionMenu' *ngIf='optionMenuIsOpen'>
  <button md-button>
    <md-icon>save</md-icon>
    <span>Save Slide</span>
  </button>
  <button md-button>
    <md-icon>fullscreen</md-icon>
    <span>Fullscreen</span>
  </button>
</div> -->

<button 
  md-button 
  md-icon-button 
  class = 'fab'
  (click) = 'prevFrame();'>
  <md-icon>keyboard_arrow_left</md-icon>
</button>
<button 
  md-button 
  md-icon-button 
  class = 'fab' 
  (click)='toggleFullscreen();'>
  <!-- <md-icon>more_horiz</md-icon> -->
  <md-icon>fullscreen</md-icon>
</button>
<button 
  md-button 
  md-icon-button 
  class='fab'
  (click)='nextFrame();'>
  <md-icon>keyboard_arrow_right</md-icon>
</button>