:host {
    display: inline;
}

button {
    background-color: none;
    color: white;
}

button .fab {
    background-color: black;
}

#optionMenu {
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#optionMenu button {
     color: #777777; 
}