:host {
    display: inline-block;
    width: 180px;
}

.menu-button {
    background-color: none;
    color: white;
}

#menu {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}