<slideshow-option-menu></slideshow-option-menu>
<!-- Menu container -->
<div id='menu'>
  <!-- Previous slide button -->
  <button 
    md-button 
    md-icon-button 
    class = 'menu-button'
    (click) = 'slideshowService.prevSlide();'>
    <md-icon>keyboard_arrow_left</md-icon>
  </button>
  <!-- Toggle menu button -->
  <button 
    md-button 
    md-icon-button 
    class = 'menu-button' 
    (click)='navigationMenuService.toggleMenu();'>
    <md-icon>more_horiz</md-icon> 
  </button>
  <!-- Next slide button -->
  <button 
    md-button 
    md-icon-button 
    class='menu-button'
    (click)='slideshowService.nextSlide();'>
    <md-icon>keyboard_arrow_right</md-icon>
  </button>
</div>