<slideshow-option-menu></slideshow-option-menu>
<!-- Menu container -->
<div id='menu'>
  <!-- Previous slide button -->
  <button 
    md-button 
    md-icon-button 
    class='menu-button'
    (click)='slideshowService.prevSlide();'>
    <!-- <md-icon>keyboard_arrow_left</md-icon> -->
    <i class="material-icons">keyboard_arrow_left</i>
  </button>
  <!-- Toggle menu button -->
  <button 
    md-button 
    md-icon-button 
    class='menu-button' 
    (click)='navigationMenuService.toggleMenu();'>
    <!-- <md-icon>more_horiz</md-icon>  -->
    <i class="material-icons">more_horiz</i>
  </button>
  <!-- Next slide button -->
  <button 
    md-button 
    md-icon-button 
    class='menu-button'
    (click)='slideshowService.nextSlide();'>
    <!-- <md-icon>keyboard_arrow_right</md-icon> -->
    <i class="material-icons">keyboard_arrow_right</i>
  </button>
</div>
