<!-- Slider container -->
<div class='slider'>
  <!-- Material design slider -->
  <md-slider 
    (input)="slideshowService.goToSlide($event.value-1);"
    thumbLabel="true"
    min="1" 
    max="{{slideshowService.slides.length}}" 
    step="1"
    value="{{slideshowService.activeSlideIndex+1}}"
    class="md-slider">
  </md-slider>
  <!-- Close menu button -->
  <button 
    md-button 
    md-icon-button 
    class="close-menu-button" 
    (click)="navigationMenuService.toggleMenu();">
    <md-icon class="md-icon">close</md-icon>
  </button>
</div>